<app-header class="he"></app-header>
<section class="sobre" >
    <div class="sobre-cta" id="sobre">
        <h1>POTIGUADEV</h1>
        <h3>POTIGUADEV</h3>
        <p>Nossa empresa é dedicada ao desenvolvimento de sites e sistemas web inovadores e funcionais. Com um time composto por profissionais experientes e apaixonados por tecnologia, estamos comprometidos em oferecer soluções que não apenas atendam mas superem as expectativas dos nossos clientes.
        </p>
        <app-btn textoBtn="Descubra" href="#serviços"></app-btn>
        
        
    </div>
    <div class="img-sobre"></div>
</section>

<section class="sobre" id="serviços">
    <div class="img-serviços"></div>
    <div class="sobre-cta" id="sobre-cta">
        <h1>Serviços </h1>
        <div class="serviço">
            <h3>Consultoria</h3>
            <p>Transformamos ideias em soluções de software inovadoras por meio de consultoria em desenvolvimento de software. Desde a concepção até a implementação e manutenção, ajudamos uma equipe experiente em todas as fases do ciclo de vida do software. Nosso objetivo é entender as necessidades do seu negócio e fornecer as melhores práticas e tecnologias para que seus projetos sejam eficientes, inovadores e concluídos dentro do prazo.</p>
        </div>
        <div class="serviço ">
            <h3>Desenvolvimento</h3>
            <p>Nos especializamos em desenvolvimento web e automação de atividades, além de desenvolver tecnologias que otimizam processos e aumentam a eficiência operacional. Nos concentramos em design responsivo, desempenho e usabilidade em nossos websites e aplicativos personalizados. Além disso, ajudamos a sua equipe a se concentrar no que realmente importa, automatizando tarefas repetitivas e difíceis e melhorando os fluxos de trabalho.</p>

        </div>
        
        
        <app-btn textoBtn="Contato" href="#contato"></app-btn>
        
        
    </div>
</section>

<section class="pessoal" id="pessoal">
    <h1>Sobre</h1>
    <app-sobre></app-sobre>
</section>

<section id="contato">
    <H1>Contato</H1>
    <app-form></app-form>
</section>

<section id="footer">
    <app-footer></app-footer>
</section>
