
  <nav class="navbar">
    <div class="navbar-container">
      <a href="#" class="logo"><img class="logopotigua" src="./assets/logopotiguadev.svg" alt=""></a>
      <ul class="nav-links" [ngClass]="{'active': menuOpen}">
        <li><a href="#serviços">Serviços</a></li>
        <li><a href="#pessoal">Sobre</a></li>
        <li><a href="#contato">Contato</a></li>
      </ul>
      <div class="menu-toggle" (click)="toggleMenu()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </div>
  </nav>
  
